[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_test_project = "BaFvHTidU6MSbAyGmiRe3YzY7JN2hmVEZqeap2sy3hDP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = ""

[hooks]
